body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #F7F9F9;
  }
  
  header {
    background-color: #3498DB;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: relative;
  }
  
  #content {
    padding: 20px;
  }
  
  footer {
    background-color: #3498DB;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom */
    width: 100%;
    position: relative;
}

  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  .zero-reviews {
    background-color: #ffe6e6; /* Change this to your preferred color for zero reviews */
    font-weight: bold;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Change the color of the button when hovered */
button:hover {
    background-color: #45a049;
}

.mynav{
  background-color: aqua;
  position: fixed;
  height: 65px;
  width: 100%;
  z-index: 1000;
}

.container {
  width: 250px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
.form-footer {
  margin-top: 20px;
  text-align: center;
}
.form-footer a {
  color: #007bff;
  text-decoration: none;
}